.signup-box {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto ;
    height: 90vh;
    background-color: #faffe1;
    padding: 10px;
}

.img-box {
    width: 75%;
    height: 360px;
    background-image: url('https://sparta-team11.s3.ap-northeast-2.amazonaws.com/img/logo.png');
    background-position: center;
}

button {
    border-radius: 10px;
    border: none;
    width: 100%;
    padding : 15px 0;
    background-color: #ffafb0;
    color: #faffe1;
}
form {
    color : #ffafb0;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.input-box {
    width: 100%;
    margin-bottom: 10px;
    display:flex;
    flex-direction: column;

}
input {
    width: 100%;
    border : none ;
    border-radius: 10px;
    padding : 15px 15px;
}
.error-msg {
    font-size: small;
    padding-left: 5px;
}