<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>받은 메시지 확인</title>

    <!-- JQuery -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!--css-->
    {% load static %}
    <link href="{% static 'css/card_read.css' %}" rel="stylesheet" type="text/css">
    <link href="/static/css/card/card_read.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="nav">
            <p onclick="history.back()">&#171;</p>
        </div>
        <div class="gifticon">
            <img src="..."/>
        </div>
        <div class="message-wrapper">
            <div class="send_user">
                <span>보낸 사람</span>
                <span>{{ user }}</span>
            </div>
            <div class="btns">
                <span id="delete-btn">삭제</span>
                <span id="reply-btn" onclick="window.location.href='/write'">답장하기</span>
            </div>
            <div class="content">
                <p>{{ message }}</p>
            </div>
        </div>
        <div class="modal" id="modal">
            <div class="overlay">
                <div class="wrapper">
                    <p>메시지를 삭제하시겠습니까?</p>
                    <button id="close-modal">아니요</button>
                    <button>네</button>
                </div>
            </div>
        </div>
    </div>


    <!--js-->
    <script src='{% static 'js/card_read.js' %}'></script>
    <script src="/static/js/card/card_read.js"></script>
</body>
</html>