{% extends "base.html" %}
{% load static %}
{% block title %}선물고르기{% endblock %}

{% block head %}
<script src="https://kit.fontawesome.com/719ecf5a78.js" crossorigin="anonymous"></script>
<link rel='stylesheet' href="{% static 'css/card/card_write.css' %}">
<style>
/* 3페이지 공용 */
#navbar{
    display: none;
}
#all-container{
    padding: 0;
}
.main_container {
    max-width: 540px;
    height: 100vh;
    margin: 0 auto;
    background-color: gray;
    position: relative;
    z-index: 4;
    overflow: hidden;
}
.main_container .sub_container {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 10px;
}
.main_container #deco_page {
    z-index: 10;
    background-color: ivory;
}
.main_container #gift_page {
    z-index: 8;
    background-color: ivory;
}
.main_container #msg_page {
    z-index: 6;
    background-color: ivory;
}
.main_container .moved {
    animation-duration: 0.8s;
    animation-name: goLeft;
    animation-fill-mode: forwards;
}
@keyframes goLeft {
    from {
        left: 0;
    }
    to{
        left: -100%;
    }
}
.main_container .back {
    animation-duration: 0.8s;
    animation-name: goRight;
    animation-fill-mode: forwards;
}
@keyframes goRight {
    from {
        left: -100%;
    }
    to{
        left: 0;
    }
}

.main_container .sub_container .prev_button {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 130px;
    cursor: pointer;
}
.main_container .sub_container .next_wrap {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
}
.main_container .sub_container .next_button {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    margin: 0 10px;
    cursor: pointer;
    
}

/* 여기부터는 장식페이지 */
.deco_img {
    width: 100%;
    height: 300px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
#preview_image {
    max-width: 100%;
    max-height: 100%;
}


/* 선물페이지 */
.search_wrap {
    display: flex;
    flex-direction: row;
}
.search_wrap .search_button {
    width: 10%;
    height: 30px;
    border-radius: 7px 0 0 7px;
    border: 0px solid black;
    cursor: pointer;
}
.search_wrap #search_gift {
    width: 90%;
    height: 30px;
    border-radius: 0 5px 5px 0;
    border: 0px solid black;
}
.gift_box_container {
    width: 100%;
}
.gift_box_container .gift_tag {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 5px;
}
.gift_box_container .gift_box_wrap {
    /* display: flex;
    flex-direction: row; */
    white-space: nowrap;
    background-color: white;
    /* margin: 10px; */
    overflow: auto;
    height: 150px;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.gift_box_container .gift_box_wrap::-webkit-scrollbar{
    display: none;
}
.gift_box_container .gift_box_wrap .gift_box {
    display: inline-block;
    width: 120px;
    height: 150px;
    background-color: gray;
}
.gift_box_container .gift_box_wrap .gift_box .gift_img {
    display: block;
    width: 120px;
    height: 120px;
    background-color: cadetblue;
}

/* 여기부터는 메시지 페이지 */
#message{
    width: 100%;
}

</style>
{% endblock %}

{% block main %}
    <div class="main_container">
        <!-- 장식선택 페이지 -->
        <div class="sub_container" id="deco_page" >
            <div id="deco_prev" class="prev_button"><i class="fa-solid fa-chevron-left"></i> 이전으로</div>
            <h3>장식 커스텀하기</h3>
            <div class="deco_img">
                <img src="" alt="이미지를 선택하세요" id="preview_image">
            </div>
            <div>
                <input type="file" name="custom_image" id="custom_image">
            </div>
            <div>
                <div></div>
            </div>
            <div class="next_wrap"><div id="deco_next" class="next_button">다음으로</div></div>
        </div>


        <!-- 선물 선택 페이지 -->
        <div class="sub_container" id="gift_page">
            <div id="gift_prev" class="prev_button"><i class="fa-solid fa-chevron-left"></i> 홈으로</div>
            <h3>선물 고르기</h3>
            <div class="search_wrap">
                <button class="search_button"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" id="search_gift" name="search_gift" placeholder="검색하기">
            </div>            

            <!-- django for문 써서 만들기 -->
            <div class="gift_box_container">
                <div class="gift_tag">"기념일" 관련 선물</div>
                <div class="gift_box_wrap">
                    <div class="gift_box"><img src="" alt="" class="gift_img">1</div>
                    <div class="gift_box"><img src="" alt="" class="gift_img">2</div>
                    <div class="gift_box"><img src="" alt="" class="gift_img">3</div>
                    <div class="gift_box"><img src="" alt="" class="gift_img">4</div>
                    <div class="gift_box"><img src="" alt="" class="gift_img">5</div>
                    <div class="gift_box"><img src="" alt="" class="gift_img">6</div>
                    <div class="gift_box"><img src="" alt="" class="gift_img">7</div>
                    <div class="gift_box"><img src="" alt="" class="gift_img">8</div>
                    <div class="gift_box"><img src="" alt="" class="gift_img">9</div>
                    <div class="gift_box"><img src="" alt="" class="gift_img">10</div>
                </div>
            </div>

            <div class="gift_box_container">
                <div class="gift_tag">"#태그" 관련 선물</div>
                <div class="gift_box_wrap">
                    <div class="gift_box"><img src="" alt="" class="gift_img">1</div>
                    <div class="gift_box"><img src="" alt="" class="gift_img">2</div>
                    <div class="gift_box"><img src="" alt="" class="gift_img">3</div>
                    <div class="gift_box"><img src="" alt="" class="gift_img">4</div>
                    <div class="gift_box"><img src="" alt="" class="gift_img">5</div>
                    <div class="gift_box"><img src="" alt="" class="gift_img">6</div>
                    <div class="gift_box"><img src="" alt="" class="gift_img">7</div>
                    <div class="gift_box"><img src="" alt="" class="gift_img">8</div>
                    <div class="gift_box"><img src="" alt="" class="gift_img">9</div>
                    <div class="gift_box"><img src="" alt="" class="gift_img">10</div>
                </div>
            </div>

            <div class="next_wrap"><div id="gift_next" class="next_button">다음으로</div></div>            
        </div>

        <!-- 메시지 페이지 -->
        <div class="sub_container" id="msg_page">
            <div id="msg_prev" class="prev_button"><i class="fa-solid fa-chevron-left"></i> 이전으로</div>
            <h3>메시지 쓰기</h3>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
            <div class="next_wrap"><div id="msg_next" class="next_button">보내기</div></div>
        </div>
    </div>
    <script src="{% static 'js/card/card_write.js' %}"></script>
    <script>
        // 페이지간 이동
        const deco_page = document.querySelector("#deco_page");
        const deco_prev = document.querySelector("#deco_prev");
        const deco_next = document.querySelector("#deco_next");

        const gift_page = document.querySelector("#gift_page");
        const gift_prev = document.querySelector("#gift_prev");
        const gift_next = document.querySelector("#gift_next");

        const msg_page = document.querySelector("#msg_page");
        const msg_prev = document.querySelector("#msg_prev");
        const msg_next = document.querySelector("#msg_next");

        deco_next.addEventListener("click", ()=>{deco_page.className = "sub_container moved";});
        gift_next.addEventListener("click", ()=>{gift_page.className = "sub_container moved";});

        gift_prev.addEventListener("click", ()=>{deco_page.className = "sub_container back";});
        msg_prev.addEventListener("click", ()=>{gift_page.className = "sub_container back";});

        // 선물페이지


        // 장식페이지
        function readImage(input) {
            // 인풋 태그에 파일이 있는 경우
            if(input.files && input.files[0]) {
                // FileReader 인스턴스 생성
                const reader = new FileReader();
                // 이미지가 로드가 된 경우
                reader.onload = (event) => {
                    const previewImage = document.getElementById("preview_image")
                    previewImage.src = event.target.result
                };
                // reader가 이미지 읽도록 하기
                reader.readAsDataURL(input.files[0]);
            }
        };

        const customImage = document.getElementById("custom_image")
        customImage.addEventListener("change", (event) => {
            readImage(event.target)
        });

        // 메시지 페이지


        


    </script>
{% endblock %}