{% extends "base.html" %}
{% load static %}
{% block title %}메시지 작성하기{% endblock %}

{% block head %}
<script src="https://kit.fontawesome.com/719ecf5a78.js" crossorigin="anonymous"></script>
<link rel='stylesheet' href="{% static 'css/card/card_write.css' %}">
<style>
/* 3페이지 공용 */
#navbar{
    display: none;
}
#all-container{
    padding: 0;
}
.main_container {
    max-width: 500px;
    height: 100vh;
    margin: 0 auto;
    background-color: #FBFFE2;
    position: relative;
    z-index: 4;
    overflow: hidden;
}
.main_container .sub_container {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 10px;
}
.main_container #deco_page {
    z-index: 10;
    background-color: #FBFFE2;
}
.main_container #gift_page {
    z-index: 8;
    background-color: #FBFFE2;
}
.main_container #msg_page {
    z-index: 6;
    background-color: #FBFFE2;
}
.main_container .moved {
    animation-duration: 0.8s;
    animation-name: goLeft;
    animation-fill-mode: forwards;
}
@keyframes goLeft {
    from {
        left: 0;
    }
    to{
        left: -100%;
    }
}
.main_container .back {
    animation-duration: 0.8s;
    animation-name: goRight;
    animation-fill-mode: forwards;
}
@keyframes goRight {
    from {
        left: -100%;
    }
    to{
        left: 0;
    }
}

.main_container .sub_container .prev_button {
    text-decoration: none;
    color: #FF9999;
    font-size: 1.25rem;
    font-weight: bold;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 5px;
    width: 130px;
    cursor: pointer;
}
.main_container .sub_container .next_wrap {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
}
.main_container .sub_container .next_button {
    text-decoration: none;
    text-align: center;
    color: #FBFFE2;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    margin: 0 10px;
    cursor: pointer;
    background-color: #FFAFAF;
}

h3 {
    color: #FF9999;
    font-weight: bold;
}


/* 여기부터는 장식페이지 */
.deco_img {
    width: 100%;
    height: 300px;
    background-color: #FFEBCC;
    display: flex;
    justify-content: center;
    align-items: center;
}
#preview_image {
    max-width: 100%;
    max-height: 100%;
    color: #FF9999;
}
.deco_selec_wrap {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 90px 90px;
    
}
.deco_selec_wrap .deco_selec {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #FFEBCC;
    margin: auto;
    text-align: center;
    color: #FF9999;
}
.deco_selec_wrap .selected {
    background-color: #FFAFAF;
    color: #FBFFE2;
}


/* 여기부터는 메시지 페이지 */
#message{
    width: 100%;
}
textarea{
    background-color: #FFEBCC;
    color: #FF9999;
    border: none;
}

.modal_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 14;
}
.modal_wrap .modal_div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 200px;
    height: 200px;
    z-index: 15;
    background-color: #FBFFE2;
    border-radius: 10px;
    color: #FF9999;
    text-align: center;
}
</style>
{% endblock %}

{% block main %}
    <div class="main_container">
        <!-- 장식선택 페이지 -->
        <div class="sub_container" id="deco_page" >
            <div id="deco_prev" class="prev_button"><i class="fa-solid fa-chevron-left"></i> 홈으로</div>
            <h3>장식 선택하기</h3>
            <div class="deco_img">
                <img src="" alt="이미지를 선택하세요" id="preview_image">
            </div>
            <!-- <div>
                <input type="file" name="custom_image" id="custom_image">
            </div> -->
            <div class="deco_selec_wrap">
                <div class="deco_selec selected">1</div>
                <div class="deco_selec">2</div>
                <div class="deco_selec">3</div>
                <div class="deco_selec">4</div>
                <div class="deco_selec">5</div>
                <div class="deco_selec">6</div>
                <div class="deco_selec">7</div>
                <div class="deco_selec">8</div>
            </div>
            <div class="next_wrap"><div id="deco_next" class="next_button">다음으로</div></div>
        </div>


        <!-- 메시지 페이지 -->
        <div class="sub_container" id="msg_page">
            <div id="msg_prev" class="prev_button"><i class="fa-solid fa-chevron-left"></i> 이전으로</div>
            <h3>메시지 쓰기</h3>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
            <div class="next_wrap">
                {% csrf_token %}
                <button id="msg_next" class="next_button">메시지 분석하기</button>
            </div>
            
        </div>
        
    </div>
    <script src="{% static 'js/card/card_write.js' %}"></script>
    <script>
        // 페이지간 이동
        const deco_page = document.querySelector("#deco_page");
        const deco_prev = document.querySelector("#deco_prev");
        const deco_next = document.querySelector("#deco_next");

        const msg_page = document.querySelector("#msg_page");
        const msg_prev = document.querySelector("#msg_prev");
        const msg_next = document.querySelector("#msg_next");

        deco_next.addEventListener("click", ()=>{deco_page.className = "sub_container moved";});

        msg_prev.addEventListener("click", ()=>{deco_page.className = "sub_container back";});

        // 장식페이지
        // function readImage(input) {
        //     // 인풋 태그에 파일이 있는 경우
        //     if(input.files && input.files[0]) {
        //         // FileReader 인스턴스 생성
        //         const reader = new FileReader();
        //         // 이미지가 로드가 된 경우
        //         reader.onload = (event) => {
        //             const previewImage = document.getElementById("preview_image")
        //             previewImage.src = event.target.result
        //         };
        //         // reader가 이미지 읽도록 하기
        //         reader.readAsDataURL(input.files[0]);
        //     }
        // };

        // const customImage = document.getElementById("custom_image")
        // customImage.addEventListener("change", (event) => {
        //     readImage(event.target)
        // });
        const previewImage = document.getElementById("preview_image")
        const decoList = Array.from(document.querySelector(".deco_selec_wrap").children);

        decoList.forEach(element => {
            element.addEventListener("click", (e) => {
                decoList.forEach(el => {
                    el.className = "deco_selec"
                })
                previewImage.alt = e.target.innerText
                e.target.className = "deco_selec selected"
            
            })
        });

        

        // 메시지 페이지
        const msgNext = document.getElementById("msg_next")
        const message = document.getElementById("message")
        const csrftoken = document.querySelector(".next_wrap input").value
        const modal_wrap = document.createElement("div")
        modal_wrap.className = "modal_wrap"
        modal_wrap.innerHTML = "<div class='modal_div'>잠시만 기다려 주세요</div>"

        function postToGift() {
            let data = new FormData();
            data.append("img",preview_image.src);
            data.append("msg",message.innerText);
            data.append('csrfmiddlewaretoken', csrftoken);
            document.querySelector("body").appendChild(modal_wrap)

            fetch("/card/write/", {
                method:"POST",
                body: data,
                credentials: 'same-origin',
                redirect: "follow"
            }).then(response=>{
                // HTTP 301 response
                if (response.redirected) {
                    window.location.href = response.url;
                }
            }).catch(e => {
                console.info(err + " url: " + url);
            })
        }

        msgNext.addEventListener("click", postToGift)


    </script>
{% endblock %}