{% extends "base.html" %}
{% load static %}
{% block title %}main{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel='stylesheet' href="{% static 'css/card_list.css' %}" media='screen'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet" href="/static/css/card_list.css" media="screen">-->
{% endblock %}


{% block main %}
    <div id="container">
        <p class="msg_to">To. {{ username }}</p>
        <form method="GET" action="/card/write/{{ user_id }}">
            <div class="background">
                {% if not listall %}
                    <div class="text_box">
                        <p>링크를 지인들에게 공유해서 메시지를 받아보세요!</p>
                    </div>
                {% elif listall %}
                    {% for mesg in listall %}
                        {% if mesg.read == 0 %}
                        <img src="{{ mesg.deco }}" class="area_box change_num" id="{{ mesg.id }}"
                             style="top:{{ mesg.top }}px; left:{{ mesg.left }}px;">
                        {% else %}
                        <div class="read_card_wrapper change_num" id="{{ mesg.id }}" style="top:{{ mesg.top }}px; left:{{ mesg.left }}px;">
                            <img src="https://sparta-team11.s3.ap-northeast-2.amazonaws.com/img/card_img.jpg"
                             class="read_card"/>
                            <p class="read_card_content">{{ mesg.msg }}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="btn-wrapper">
                <button class="copyurl" href="#" onclick="clip(); return false;"><strong>링크 복사하기</strong></button>
                <button class="startbutton" type="submit"><strong>메시지 남기기</strong></button>
            </div>
        </form>
    </div>
    <script src="{% static 'js/card_list.js' %}"></script>
    <!--<script src="/static/js/card_list.js"></script>-->
{% endblock %}