* {
    font-size: 14px;
}

.container {
    max-width: 500px;
    min-height: 800px;
    margin: 0 auto;
    background-color: #FBFFE2;
}

.container .nav {
    margin-bottom: 5%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

.container .nav p {
    font-size: 5rem;
    margin: 0;
    line-height: 0;
    cursor: pointer;
    color: #FF9999;
}

.container .nav span {
    font-size: 1.2rem;
    cursor: pointer;
}

.container .message-wrapper {
    width: 80%;
    margin: 1rem auto;

}

.container .message-wrapper .send_user {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto 4%;
}

.container .message-wrapper .send_user span:first-child {
    text-decoration: underline;
    text-underline-position: under;
    color: dimgray;
    font-weight: bolder;
}

.container .message-wrapper .content {
    width: 92%;
    min-height: 20rem;
    margin: 0 4%;
    background-color: #FFEBCC;
    border-radius: 1.8rem;
}

.container .message-wrapper .content p {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    padding: 1.2rem 1.5rem;
    line-height: 2.4rem;
    color: #FF9999;
}

.container .gifticon {
    margin: 0 auto 8%;
    width: 39%;
    /*height: 29%;*/
}

.container .gifticon .preview {
    width: 100%;
    height: 13rem;
    cursor: pointer;
}

.container .modal {
    position: absolute;
    top: 0;
    width: 500px;
    height: 800px;
    backdrop-filter: blur(3px);
}

.container .modal .overlay {
    background: white;
    border-radius: 1rem;
}

.container .modal .overlay .wrapper button:last-child {
    background-color: #FF9999;
}

@media (min-width: 500px) {
    .container .message-wrapper .send_user span:first-child {
        font-size: 1.4rem;
    }

    .container .message-wrapper .send_user span:last-child {
        font-size: 1.3rem;
    }

    .container .popup {
        position: absolute;
        top: 0;
        width: 500px;
        height: 800px;
        backdrop-filter: blur(3px);
    }

    .container .popup .overlay {
        display: grid;
        grid-template-rows: 3.2rem 36rem;
        justify-content: center;
        margin-top: 24%;
    }

    .container .popup .overlay .close-icon {
        grid-row-end: 2;
        grid-row-start: 1;
        text-align: end;
        margin: 0;
        cursor: pointer;
    }

    .container .popup .overlay .close-icon img {
        width: 3rem;
        height: 3rem;
    }

    .container .popup .overlay .preview {
        grid-row-start: 2;
        grid-row-end: 3;
        height: 100%;
    }

    .container .modal .overlay {
        width: 60%;
        height: 24%;
        margin: 56% 20%;
    }

    .container .modal .overlay .wrapper {
        padding-top: 3rem;
    }

    .container .modal .overlay .wrapper p {
        text-align: center;
        margin-bottom: 4rem;
    }

    .container .modal .overlay .wrapper button {
        width: 8rem;
        height: 3rem;
        border: none;
        border-radius: 2rem;
        margin-left: 2rem;
        cursor: pointer;
    }
}

@media (min-width: 300px) and (max-width: 500px) {
    .container .message-wrapper .send_user span {
        font-size: 1.1rem;
    }

    .container .popup {
        position: absolute;
        top: 0;
        width: 96vw;
        height: 144vh;
        backdrop-filter: blur(3px);
    }

    .container .popup .overlay {
        display: grid;
        grid-template-rows: 3.2rem 36rem;
        justify-content: center;
        margin-top: 24%;
    }

    .container .popup .overlay .close-icon {
        grid-row-end: 2;
        grid-row-start: 1;
        text-align: end;
        margin: 0;
        cursor: pointer;
    }

    .container .popup .overlay .close-icon img {
        width: 3rem;
        height: 3rem;
    }

    .container .popup .overlay .preview {
        grid-row-start: 2;
        grid-row-end: 3;
        height: 100%;
    }

    .container .modal .overlay {
        width: 68vw;
        height: 32vh;
        margin: 42vh 15vw;
    }

    .container .modal .overlay .wrapper {
        padding-top: 7vh;
    }

    .container .modal .overlay .wrapper p {
        text-align: center;
        margin-bottom: 6vh;
    }

    .container .modal .overlay .wrapper button {
        width: 26vw;
        height: 8vh;
        border: none;
        border-radius: 2rem;
        margin-left: 4vw;
        cursor: pointer;
    }
}
